---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=CLIENT_ID&client_secret=CLIENT_SECRET&code=ACCESS_CODEpLfs_y4vgnb3M&grant_type=authorization_code
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Response-Time:
      - '398'
      Content-Type:
      - text/javascript
      X-Dropbox-Response-Origin:
      - far_remote
      X-Dropbox-Request-Id:
      - 8850e1c797e1405193d537535adbf514
    body:
      encoding: ASCII-8BIT
      string: '{"uid": "44076342", "access_token": "MOCK_ACCESS_TOKEN",
        "expires_in": 14399, "token_type": "bearer", "scope": "account_info.read account_info.write
        contacts.read contacts.write file_requests.read file_requests.write files.content.read
        files.content.write files.metadata.read files.metadata.write sharing.read
        sharing.write", "refresh_token": "MOCK_REFRESH_TOKEN",
        "account_id": "dbid:AABOLtA1rT6rRK4vajKZrWqLZ7wVnV863u4"}'
  recorded_at: Wed, 29 Sep 2021 16:45:29 GMT
recorded_with: VCR 6.0.0
