---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":"/dropbox_api_fixtures/list_folder_longpoll"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Response-Time:
      - '70'
      Content-Type:
      - application/json
      X-Dropbox-Response-Origin:
      - far_remote
      X-Dropbox-Request-Id:
      - 8e82e23b85d64ca6a7c055061e4d2a18
    body:
      encoding: ASCII-8BIT
      string: '{"entries": [], "cursor": "AAF2APSHjtbXJqAdZ2Pvpaquig0syveLl4XonPXAZgil94KoBDdJ_RV_JTrndD3akjPZsa5XiX9P_1YaZ_dSH0fyZ6ffoRZk2gJ_gcR8cYhtXr68L_py2WZ-qTx2RBxdvM_AxbChl7DXzS4hbvUOsKyvrWO0q7s0EESd3fbS9R360FgYEOjy8KqwPkPKU3pkZjZ-B-y37sQOFLm3b8cNpC2yx0BxkeUEP4Yja8LXf20741Jm5tZUA12pLGetQyIB-z4xv3kIwCb6d1JPy2I_cZvJ6BQpN85-ryfxMLrh-ieppw",
        "has_more": false}'
  recorded_at: Sun, 27 Feb 2022 13:43:30 GMT
recorded_with: VCR 6.0.0
