---
http_interactions:
- request:
    method: post
    uri: https://notify.dropboxapi.com/2/files/list_folder/longpoll
    body:
      encoding: UTF-8
      string: '{"timeout":30,"cursor":"AAF2APSHjtbXJqAdZ2Pvpaquig0syveLl4XonPXAZgil94KoBDdJ_RV_JTrndD3akjPZsa5XiX9P_1YaZ_dSH0fyZ6ffoRZk2gJ_gcR8cYhtXr68L_py2WZ-qTx2RBxdvM_AxbChl7DXzS4hbvUOsKyvrWO0q7s0EESd3fbS9R360FgYEOjy8KqwPkPKU3pkZjZ-B-y37sQOFLm3b8cNpC2yx0BxkeUEP4Yja8LXf20741Jm5tZUA12pLGetQyIB-z4xv3kIwCb6d1JPy2I_cZvJ6BQpN85-ryfxMLrh-ieppw"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Db-Timeout:
      - '120'
      X-Dropbox-Response-Origin:
      - remote
      X-Dropbox-Request-Id:
      - 1a922e27fe7e4cf895bc682de72ce0ab
    body:
      encoding: UTF-8
      string: '{"changes":true}

        '
  recorded_at: Sun, 27 Feb 2022 13:43:32 GMT
- request:
    method: post
    uri: https://content.dropboxapi.com/2/files/upload
    body:
      encoding: UTF-8
      string: Quack!
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Dropbox-Api-Arg:
      - '{"path":"/dropbox_api_fixtures/list_folder_longpoll/duck.txt"}'
      Content-Type:
      - application/octet-stream
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Server-Response-Time:
      - '832'
      Content-Type:
      - application/json
      X-Dropbox-Response-Origin:
      - far_remote
      X-Dropbox-Request-Id:
      - 4c528e3a2e184c3ab669f13f39dfe53a
    body:
      encoding: ASCII-8BIT
      string: '{"name": "duck.txt", "path_lower": "/dropbox_api_fixtures/list_folder_longpoll/duck.txt",
        "path_display": "/dropbox_api_fixtures/list_folder_longpoll/duck.txt", "id":
        "id:L5U1_AOVa-QAAAAAAAA4vA", "client_modified": "2022-02-27T13:43:32Z", "server_modified":
        "2022-02-27T13:43:32Z", "rev": "5d9001e2a58b7043720ae", "size": 6, "is_downloadable":
        true, "content_hash": "6a2d01bcadbad09a0b0aea75f2e1e0652da80a43c8c196ee0cd29cc268ef73a1"}'
  recorded_at: Sun, 27 Feb 2022 13:43:32 GMT
recorded_with: VCR 6.0.0
