---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/search_v2
    body:
      encoding: UTF-8
      string: '{"query":"/image.png","options":{"path":"/bad_folder"}}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - sandbox
      X-Server-Response-Time:
      - '54'
      X-Webkit-Csp:
      - sandbox
      X-Dropbox-Request-Id:
      - a0547acb22a84f57aac28978892f0fb0
    body:
      encoding: UTF-8
      string: '{"has_more":false,"matches":[]}'
  recorded_at: Sun, 07 Feb 2021 10:30:27 GMT
recorded_with: VCR 6.0.0
