---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/search_v2
    body:
      encoding: UTF-8
      string: '{"query":"findable_file"}'
    headers:
      Authorization:
      - Bearer MOCK_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment
      Content-Type:
      - application/json
      X-Content-Security-Policy:
      - sandbox
      X-Server-Response-Time:
      - '160'
      X-Webkit-Csp:
      - sandbox
      X-Dropbox-Request-Id:
      - a0b2671f184943e1916d17d69b4d5ce0
    body:
      encoding: ASCII-8BIT
      string: '{"has_more":false,"matches":[{"match_type":{".tag":"filename"},"metadata":{".tag":"metadata","metadata":{".tag":"file","client_modified":"2021-02-07T10:29:47Z","content_hash":"ddc458cb9f13e2e9f4b02a579cc752c8bbcbb7fdfd4c54faea8e98b7f4b80ea8","id":"id:L5U1_AOVa-QAAAAAAAA4sA","is_downloadable":true,"name":"findable_file.txt","path_display":"/dropbox_api_fixtures/search/findable_file.txt","path_lower":"/dropbox_api_fixtures/search/findable_file.txt","rev":"5babc88636b60043720ae","server_modified":"2021-02-07T10:29:48Z","size":4}}}]}'
  recorded_at: Sun, 07 Feb 2021 10:30:27 GMT
recorded_with: VCR 6.0.0
