---
http_interactions:
- request:
    method: post
    uri: https://api.dropboxapi.com/2/files/list_folder
    body:
      encoding: UTF-8
      string: '{"recursive":false,"include_media_info":false,"include_deleted":false,"path":""}'
    headers:
      Authorization:
      - Bearer MOCK_EXPIRED_AUTHORIZATION_BEARER
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Www-Authenticate:
      - Bearer realm="Dropbox-API"
      Content-Type:
      - application/json
      X-Dropbox-Response-Origin:
      - far_remote
      X-Dropbox-Request-Id:
      - 97c6c02235b4468d9022c41e6a08b7d3
    body:
      encoding: UTF-8
      string: '{"error_summary": "expired_access_token/", "error": {".tag": "expired_access_token"}}'
  recorded_at: Wed, 29 Sep 2021 17:44:29 GMT
recorded_with: VCR 6.0.0
